.cameraready-container {
    /* background: linear-gradient(135deg, #000033, #000066);
    color: white; */
    padding: 10vh 5vw;
    min-height: 100vh;

    @media screen and (max-width: 781px) {
        padding-top: 15vh;
    }

    a {
        color: rgb(51, 193, 211);
    }

    text-align: justify;
    font-size: 18px;
    font-weight: 600;
}

.navy {
    color: navy;
    font-size: 32px;
    text-align: center;
}