.conference-info-container{
  background: linear-gradient(rgb(167, 201, 167), white);
  /* Dark blue background */
  margin: 0;
  padding: 0 99vh;
  color: white;
  text-align: center;
  min-height: 75vh;
}

.conference-info-container a {
  color: white;
  text-decoration: none;
}

.conference-info-container:nth-child(even) {
  background: linear-gradient(white, rgb(167, 201, 167));
}

.conference-info-container h1 {
  font-size: 2.5rem;
  color: navy;
  margin-bottom: 20px;
}

.conference-info-container h1:nth-child(odd) {
  color: black;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.info-card {
  background-color: #003366;
  height: 40vh;
  /* Slightly lighter blue for the cards */
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card img {
  object-fit: cover;
  margin: auto;
  height: 40%;
  width: 95%;
  margin-bottom: 20px;
}

.info-card p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.info-card ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1.2rem;
}

.info-card strong {
  color: #ffd700;
  /* Gold color for emphasis */
}
  






.conference-info-container {
  background: linear-gradient(rgb(167, 201, 167), white);
  /* Dark blue background */
  padding: 40px 20px;
  color: white;
  text-align: center;
}

.conference-info-container:nth-child(even) {
  background: linear-gradient(white, rgb(167, 201, 167));
}

.conference-info-container h1 {
  font-size: 2.5rem;
  color: navy;
  margin-bottom: 20px;
}

.conference-info-container h1:nth-child(odd) {
  color: navy;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.info-card {
  background-color: #003366;
  /* Slightly lighter blue for the cards */
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-icon {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.info-card p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.info-card ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1.2rem;
}

.info-card strong {
  color: #ffd700;
  /* Gold color for emphasis */
}

