.Header {
    font-size: 1.5rem;
    color: navy;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 10vh 0 1vh 0 ;
}
.Header::after {
    content: '';
    height: 3px;
    width: 30%;
    background: navy;
    position: absolute;
    left: 35.5%;
    bottom: 3rem;
}