.conference-info-container {
  /* background: linear-gradient(white,rgb(118, 234, 243)); */
  background: linear-gradient(white,rgb(167, 201, 167));
  padding: 40px 20px;
  color: #333;
  text-align: center;
  min-height: 75vh;
}

.conference-info-container a {
  color: white;
  text-decoration: none;
}

.conference-info-container h1 {
  font-size: 2.5rem;
  color: navy;
  margin-bottom: 20px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 3vh;
  flex-wrap: wrap;
}

.info-card {
  background-color: #003366;
  height: 50vh;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: white;
}

.info-card img {
  object-fit: cover;
  margin: auto;
  height: 40%;
  width: 95%;
  margin-bottom: 20px;
}

.info-card p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.info-card ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1.2rem;
}

.info-card strong {
  color: #ffd700;
}

.info-card:hover{
  transform: scale(1.02);
}

.conference-info-container h1 {
  font-size: 2.5rem;
  color: navy;
  margin-bottom: 20px;
}

.conference-info-container h1:nth-child(odd) {
  color: navy;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.info-card {
  background-color: #003366;
  /* Slightly lighter blue for the cards */
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-icon {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.info-card p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.info-card ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1.2rem;
}

.info-card strong {
  color: #ffd700;
  /* Gold color for emphasis */
}

.carousel-img {
  display: block;
  /* object-fit:; */
  height: 40vh;
  width: auto;
}

.carousel-speaker-card {
  display: flex;

  img {
    flex: 1;
  }
  p {
    flex: 3;
  }
}

.carousel {
  width: 100vw;
}

.tracks-img {
  object-fit: cover;
  object-position: 100% 0;
}

.tracks-card-container, 
.ch-speaker-info {
  height: 54vh;
}

.tracks-card-container {
  h1 {
    color: black;
  }
}

.ch-speaker-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: rgb(141, 141, 24);
    margin: 0;
    padding: 0;
    font-size: 3vh;
  }

  h3 {
    color: navy;
    font-size: 2.5vh;
    padding: 0;
    margin: 0;
  }

  p  {
    font-size: 2vh;
  }
}

.speaker-name {
  color: navy;
}

.keynote-speaker-card-heading {
  color: darkgreen;
}

.tracks-table {
  width: 100%;
  height: 98%;
  /* background-color: rgba(0, 255, 47, 0.1); */
  /* background-color: rgba(20, 115, 137, 0.3); */
  /* background-color: rgba(0, 8, 255, 0.1); */
  border: 3px solid teal;
  border-radius: 2vh;
  color: black;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  
  table {
    border: 1px solid black;
    margin: auto;
    text-align: left;
    font-size: 20px;
    height: 60%;
    width: 90wv;
    color: darkgreen;
    background-color: rgba(249, 255, 70, 0.364);
  }

  th {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1vh;
  }

  th {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    color: darkblue;
  }
  
  h3 {
    border: 0;
    padding: 0;
    color: rgb(141, 141, 24);
    font-size: 28px;
  }

  h2 {
    border: 0;
    padding: 0;
    font-size: 32px;
    color: navy;
  }
}