.contact-us {
    /* background-color: #0f236a; */
    color: rgb(0, 0, 0);
    padding: 20px;
    /* max-width: 500px; */
    margin: 0 auto;
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  .contact-us h2 {
    /* text-decoration: underline; */
    margin: 100px 0 20px 0;
    text-align: center;
    color: navy;
    font-size: 3em;
  }
  
  .contact-details{
    font-size: 1.2em;
    margin: 2em auto 3em auto;
    padding: 0 0 0 0;
    max-width:fit-content;
  }

  .contact-details p {
    margin: 1em 48px;
  }
  
  .contact-details i {
    margin-right: 10px;
  }
  
  .contact-mail {
    /* vertical-align: middle; */
    margin: auto 0;
  }

  footer {
    margin: 3em 48px;
    font-size: 12px;
    text-align: center;
  }
  
  .p-loc {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
  }

  .loc {
    vertical-align: top;
  }