.footer-body {
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto; /* Adjust to accommodate content on small screens */
    padding: 2vh 5vw; /* Add padding for smaller screens */
    background: linear-gradient(to top, rgb(0, 136, 255), rgba(20, 115, 137, 0.7));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @media screen and (max-width: 780px) {
        flex-direction: column;
        text-align: center;
        height: auto; /* Auto height for wrapping content */
        padding: 5vh 2vw; /* Increase padding */
    }
}

.footer-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 780px) {
        flex-direction: column;
        margin-bottom: 2vh;
    }
}

.footer-2-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2vw;

    @media screen and (max-width: 780px) {
        padding: 2vw 0;
        order: 3;
        margin-top: 1vh;
    }
}

.images > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;

    @media screen and (max-width: 780px) {
        height: auto;
    }
}

.footer-insignia {
    max-width: 150px; /* Limit size for smaller screens */
    height: auto;
    margin-right: 2vw;

    @media screen and (max-width: 780px) {
        margin: 0 auto;
        margin-bottom: 2vh;
    }
}

.footer-ieee {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3vw;

    @media screen and (max-width: 780px) {
        padding-left: 0;
        margin-top: 2vh 0 0 2vh;
    }
}

.footer-ieee img {
    height: 6vh;
    max-width: 100px; /* Limit size for smaller screens */
    margin: 0 auto;
}

.copyright {
    color: white;
    font-size: 1em;
    width: 100%;
    margin-top: 2vh;

    @media screen and (max-width: 780px) {
        font-size: 0.9em;
        margin-top: 0;
    }
}

.copyright-text {
    margin: 0.5vh 0;
}

.credit {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 0.5vh;
}
