.home {
  background-image: url("../../assets/cet.jpg");
  background-size: cover;
  color: white;
  height: 100vh;
  /* width: 100%; */
  /* margin: 0 -19em 0 -20em; */
  /* filter: hue-rotate(300deg) brightness(1); */
}

.tint {
  height: 100%;
  width: 100%;
  display: flex;
  /* align-items: center; */
  align-content: center;
  text-align: center;
  /* background-color: blue; */
  background-color: rgba(0, 0, 255, 0.2);
  /* opacity: 60%; */
}

.content {
  /* text-align: center; */
  /* margin: 0 0 0 50vh; */
  padding: 25vh 25vw;
  text-align: center;
  font-size: 1.5em;
  width: 50%;
  opacity: 100%;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.content h1 {
  /* font-size: 48px; */
  margin-bottom: 20px;
  
}

.content p {
  /* font-size: 24px; */
  margin-bottom: 10px;
}

.register-button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  border: white 2px solid;
  color: white;
  margin: 1vh auto;
  padding: 10px 20px;
  text-decoration: none;
  /* font-size: 18px; */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #0056b3;
}

.kerala-stuff {
  position: absolute;
  bottom: -6px;
}
