.how-reach-container {
    align-items: center;
    justify-content: center;
    height: 70vh;

    table {border: 1px solid black;}
    td {padding: 2vh; border: 1px solid black; font-size: 1.2rem}
    .airport-row {
        background-color: navy; color: white;
    }
    .rail-row {
        background-color: rgb(13, 78, 0) ; color: white;
    }
    svg {
        margin-right: 10px; 
    }

}


.how-reach-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.how-reach-container table {
    border: 1px solid black;
}

.how-reach-container td {
    padding: 2vh;
    border: 1px solid black;
    font-size: 1.2rem;
}

.how-reach-container .airport-row {
    background-color: lightgreen;
    color: black;
}

.how-reach-container .rail-row {
    /* background-color: #0d4e00;; */
    background-color: lightblue;
    color: black;
}

.how-reach-container svg {
    margin-right: 10px;
}

.journeyinfo-box    
 {
    width: 60vw;
    background-color: lightblue;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 3vh;
}

.journeyinfo {
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
}

.navy {
    font-size: 5vh;
}