.local-stuff-container {
    margin: 0;
    padding: 10vh 5vw;
    min-height: 100vh;

    h2 {
        font-size: 2.5rem;
        color: navy;
    }

    h2::after {
        width: 40%;
        background-color: navy;
        height: 4px;
    }
}



.places {
    width: 100%;
    display: flex;
    align-content: center;
    place-content: center;
}

.destination {
    width: 40vh;
    height: 15vw;
    padding: 10px;
    margin: 10px;
    background-position: center;

    a {
        background-color: rgb(255, 255, 255, 0.5);
        color: black;
        height: 10%;
        padding: 3px;
        text-decoration: none;
    }

    font-weight: 900;
    display: flex;
    place-content: end;
    border-radius: 10px;
    transition: 900ms ease;
}

.destination:hover {
    width: 42vh;
    height: 15.75vw;
}