.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: rgba(20, 115, 137, 0.7); /* Sir's teal color */
  backdrop-filter: blur(8px);
  position: fixed;
  height: 5vh;
  width: 100%;
  z-index: 10;
  
  @media screen and (max-width: 781px) {
    height: 10vh;
  }
}

.logo {
  display: flex;
  /* font-size: vh; */
  place-content: center;
  align-items: center;

  opacity: 1;
  backdrop-filter: none;
}

.logo img {
  height: 7vh;
  padding-left: 0.9vh;

  @media screen and (max-width: 781px) {
    height: 10vh;
  }

}

.logo h3 {
  color: white;
  font-size: 2vh;
  line-height: 1.3;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 1.6vh;
  margin-right: 3vh;
  gap: 2em;
  @media (max-aspect-ratio: 3/4) {
    gap: 1em;
  }
  height: 100%;
  vertical-align:middle;
  align-items: center;

  @media screen and (max-width: 781px) {
    display: none;
  }
}

.nav-links .nav-link {
  vertical-align: center;
  height: 100%;
  /* border: 1px solid red; */
  padding-top: 2.5vh;
  overflow: hidden;
}

.nav-links .nav-link a {
  color: white;
  text-decoration: none;
  font-size: 2vh;
  font-weight: bold;
  transition: color 0.3s;
  /* border: 1px solid red; */
  align-items: center;
  height: 100%;
}

.nav-links .nav-link a:hover {
  color: #ddd;
}

.dropdown {
  display: none;
  background-color: rgba(20, 115, 137, 0.7);
  backdrop-filter: blur(8px);
  padding: 1vh;
  position: fixed;
  margin-top: 1.8vh;
  color: white;

  div {
    padding: 1vh;
  }
}

.nav-link:hover,
.nav-link>a:hover {
  .dropdown {
    display: block;
    /* flex-direction: column; */
  }
}

.dropdown:hover {
  display: block;
}

@media screen and (max-width: 781px) {
  .nav-links-mobile {
    display: flex;
    background: inherit;
    /* backdrop-filter: blur(20px); */
    position: fixed;
    margin-top: 100vh;
    flex-direction: column;
    height: 70vh;
    .nav-link {
      padding: 2.5px 10px;
    }
  }

  .navbar button {
    visibility: visible;
  }
}


/* Dropdown Animation */
/* .dropdown-menu-1 
  for num in (1..2)
    .dropdown-item-{num}
      transform-origin: top center
      animation: rotateZ 300ms (nums * 60ms) ease-in-out forwards */

/* .dropdown-menu-1 .dropdown-item-1, .dropdown-menu-1 .dropdown-item-1 {
  transform-origin: top center;
  animation: rotateZ 300ms (2 * 60ms) ease-in-out forwards;
}


@keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  
  80% {
    transform: translateZ(10px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
} */