.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  position: fixed;
  z-index: 2;
  height: 5vh;
  width: 98vw;

  @media screen and (max-width: 781px) {
    height: 10vh;
  }
}

.logo {
  display: flex;
  place-content: center;
  align-items: center;
}

.logo img {
  height: 5vh;

  @media screen and (max-width: 781px) {
    height: 10vh;
  }

  padding: 10px;
}

.logo h3 {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0 20px 0 0;

  @media screen and (max-width: 781px) {
    display: none;
  }
}

.nav-links .nav-link a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-links .nav-link a:hover {
  color: #ddd;
}

.dropdown {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  /* opacity: 40%; */
  padding: 10px;
  position: fixed;
  margin-top: 2.5vh;
  color: white;
  div {
    padding: 10px;
  }
}

.nav-link:hover, .nav-link>a:hover {
  .dropdown {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 781px) {
    .nav-links-mobile {
      display: flex;
      background: inherit;
      position: fixed;
      margin-top: 100vh;
      flex-direction: column;
      .nav-link {padding: 2.5px 10px;}
    }
}