.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(20, 115, 137, 0.7); /* Sir's teal color */
  backdrop-filter: blur(8px);
  position: fixed;
  z-index: 2;
  height: 5vh;
  /* width: 98vw; */
  width: 100%;
  z-index: 100;
  
  @media screen and (max-width: 781px) {
    height: 10vh;
  }
}

.logo {
  display: flex;
  place-content: center;
  align-items: center;
}

.logo img {
  height: 5vh;

  @media screen and (max-width: 781px) {
    height: 10vh;
  }

  padding: 10px;
}

.logo h3 {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0 20px 0 0;
  height: 100%;
  vertical-align:middle;

  @media screen and (max-width: 781px) {
    display: none;
  }
}

.nav-links .nav-link {
  vertical-align: center;
  height: 100%;
  /* border: 1px solid red; */
  /* padding-top: 2.5vh; */
}

.nav-links .nav-link a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
  /* border: 1px solid red; */
  align-items: center;
  height: 100%;
}

.nav-links .nav-link a:hover {
  color: #ddd;
}

.dropdown {
  display: none;
  background-color: rgba(20, 115, 137, 0.7);
  backdrop-filter: blur(8px);
  padding: 10px;
  position: fixed;
  margin-top: -1vh;
  color: white;

  div {
    padding: 10px;
  }
}

.nav-link:hover,
.nav-link>a:hover {
  .dropdown {
    display: block;
    /* flex-direction: column; */
  }
}

.dropdown:hover {
  display: block;
}

@media screen and (max-width: 781px) {
  .nav-links-mobile {
    display: flex;
    background: blue;
    /* backdrop-filter: blur(20px); */
    position: fixed;
    margin-top: 100vh;
    flex-direction: column;

    .nav-link {
      padding: 2.5px 10px;
    }
  }

  .navbar button {
    visibility: visible;
  }
}