.organizingContainer {
    display: inline;
    height: 100vh;
    h1 {
        text-align: center;
    }
}

.patrons {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    /* padding: 10vw 5vh; */
    place-content: center;
    @media screen and (max-width: 781px) {
        flex-direction: column;
    }
    .patron {
        /* text-align: center; */
        padding: 20px;
        margin: 20px 50px;
        width: 20%;
        min-height: 200px;
        @media screen and (max-width: 781px) {
            width: 80%;
            place-self: center;
        }
        height: 100%;
        background-color: blue;
    }
}

.title {
    color: white;
    font-size: 15px;
}

.name, .committeeTitle {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.designation {
    color: white;
    font-size: 15px;
}

.committees {
    display: flex;
    place-content: center;
    flex-direction: row;
    @media screen and (max-width: 781px) {
        flex-direction: column;
        align-items: center;
    }
}

.committee {
    padding: 20px;
    background-color: blue;
    color: white;
    width: 40%;
    margin: 20px 20px 20px 0;
    @media screen and (max-width: 781px) {
        width: 80%;
        margin: 20px 0;
    }
    table {
        width: 100%;
    }
    table td {
        text-align: right;
        place-content: top;
        padding: 5px
    }   
}