.registration-container {
    /* background: linear-gradient(135deg, #000033, #000066); */
    /* color: #ffffff; */
    color: black;
    padding: 10vh 5vw;
    min-height: 100vh;
    p {font-size: 18px; font-weight: 600;}    
    @media screen and (max-width: 781px) {
        padding-top: 15vh;
    }

    table {
        text-align: left;
        /* border: 1px white solid; */
        th {
            border-bottom: 1px black solid;
            padding: 5px;
            font-size: 18px;
            text-align: center;
        }
        td { padding: 5px; font-size: 18px; }
        @media screen and (max-width: 781px) {
            th, td {
                padding: 5px 2.5px;
                
            }
        }
    }

    h2, h3 {
        color: navy;
    }

    h3 {
        font-size: 25px;
    }
}
